<div class="menu" [ngClass]="{'closed': !isOpened, 'shadow': isOpened, 'menu-animation': isOpened}">
  <i class="fas fa-bars menu-icon" (click)="toggle()" 
  [ngClass]="{'menu-icon-animation': isOpened, 'reverse-menu-icon-animation': !isOpened}"></i>
  <div *ngIf="isOpened">
    <div class="logo">
      <img src="/assets/images/logo.png" width="283" height="283" alt="muzima logo">
    </div>
    <ul>
      <li><a routerLink="" (click)="toggle()">home</a></li>
      <li><a routerLink="about" (click)="toggle()">about</a></li>
      <li><a href="#" (click)="toggle()">user guide</a></li>
    </ul>
  </div>
</div>