<mat-tab-group [color]="color" [backgroundColor]="">
  <mat-tab label="CODE" [aria-label]=color >
    <div class="tab-content">
      <mat-icon class="copy-icon" (click)="copyMessage()">file_copy</mat-icon>
      <pre class="code">
        <code>{{htmlCode | formatCode}}</code>
      </pre>
    </div>
  </mat-tab>
  <mat-tab label="PREVIEW" [aria-label]=color >
    <div class="tab-content">
      <app-muzima-form [form]="form" (selectedField)="select($event)" (htmlCodeEmitter)="selHtmlCode($event)" [sectionIds]="sectionIds">
      </app-muzima-form>
    </div>
  </mat-tab>
</mat-tab-group>
